# Cloned codebase
omniport/
omniport

# Base-level environment file
environment/base.env

# Ignore the site-specific environment files
environment/sites/*
# ... but commit README.md and the stencil for the site-specific environment files
!environment/sites/site-stencil.env

# Ignore trhe logos of the portal, institute and maintainers
branding/*
# ... but commit the README.md file
!branding/README.md